:root{
    --color-primary: #000;
    --color-body: #f0f0f0;
    --color-main: #dcdcdc;
    --color-table: #cecece;
    --color-table-dark: #414141;
    --color-border: #171616;
    --color-box-shadow: #343434;
}